<% case @render_params[:mode] %>
    <% # rendering form for manager %>
    <% when 'manager' %>

        <div id='assignment-tabs'>
          <ul>
            <li><a href='#assignment-tab-public'>Open Opportunity</a></li>
            <li><a href='#assignment-tab-private-to-student'>Personal Assignment (to student)</a></li>
            <li><a href='#assignment-tab-private-to-instructor'>Personal Assignment (to instructor)</a></li>
          </ul>
          <div id='assignment-tab-public'>
            <%= render partial: 'assignments/new_by_instructor_public', locals: { assignemnt: @assignment } %>
          </div>
          <div id='assignment-tab-private-to-student'>
            <%= render partial: 'assignments/new_by_instructor_private', locals: { assignemnt: @assignment,
                                                                                   render_params: @render_params[:params][:Instructor]} %>
          </div>
          <div id='assignment-tab-private-to-instructor'>
            <%= render partial: 'assignments/new_by_student_private', locals: { assignemnt: @assignment,
                                                                                   render_params: @render_params[:params][:Student]} %>
          </div>
        </div>

    <% # rendering form for instructor %>
    <% when 'instructor' %>

        <div id='assignment-tabs'>
          <ul>
            <li><a href='#assignment-tab-public'>Open Opportunity</a></li>
            <li><a href='#assignment-tab-private'>Personal Assignment</a></li>
          </ul>
          <div id='assignment-tab-public'>
            <%= render partial: 'assignments/new_by_instructor_public', locals: { assignemnt: @assignment } %>
          </div>
          <div id='assignment-tab-private'>
            <%= render partial: 'assignments/new_by_instructor_private', locals: { assignemnt: @assignment,
                                                                                   render_params: @render_params[:params][:Instructor]} %>
          </div>
        </div>

    <% # rendering form for student %>
    <% else %>
        <%= render partial: 'assignments/new_by_student_private', locals: { assignemnt: @assignment,
                                                                           render_params: @render_params[:params][:Student]} %>
<% end %>
