<div class='b-search-container'>
  <%= search_form_for @search, url: search_security_users_path, method: :post, remote: true do |f| %>

      <div class='text'>
        <%= f.label :email_cont, 'Email contains', 'data-icon' => 'm'%>
        <%= f.text_field :email_cont %>
      </div>

      <div class='radio'>
        <%= f.label :is_active_true, 'Is active' %>
        <%= f.check_box :is_active_true, 'data-group' => 'radio'%>
        <%= f.label :is_active_false, 'Is not active' %>
        <%= f.check_box :is_active_false, 'data-group' => 'radio' %>
      </div>

      <div class='text-date'>
        <table>
          <tr>
            <td>
              <%= f.label :registration_date_gteq, 'Registration', 'data-icons' => '*' %>
              <%= f.text_field :registration_date_gteq, placeholder:'Start Date', class:'b-date-picker' %>
            </td>
            <td>
              <%= f.label :registration_date_lteq, 'Registration' %>
              <%= f.text_field :registration_date_lteq, placeholder:'End Date', class:'b-date-picker' %>
            </td>
          </tr>
        </table>
      </div>

      <div class='text-date'>
        <table>
          <tr>
            <td>
              <%= f.label :last_log_in_date_gteq, 'Last log in', 'data-icons' => '*' %>
              <%= f.text_field :last_log_in_date_gteq, placeholder:'Start Date', class:'b-date-picker' %>
            </td>
            <td>
              <%= f.label :last_log_in_date_lteq, 'Registration' %>
              <%= f.text_field :last_log_in_date_lteq, placeholder:'End Date', class:'b-date-picker' %>
            </td>
          </tr>
        </table>
      </div>

      <div class='button'>
        <%= f.submit 'Search' %>
      </div>

      <div class='button'>
        <input name="commit" type="button" value="Clear" class="e-clear-form">
      </div>

  <% end %>
</div>