<div class='b-search-container'>


  <%
     #   assignment_type
      #  status
      %>


  <%= search_form_for search_options, url: search_assignments_path, method: :post do |f| %>

      <div class='text'>
        <%= f.label :subject_cont, 'Subject contains', 'data-icon' => 'm'%>
        <%= f.text_field :subject_cont %>
      </div>

      <div class='text'>
        <%= f.label :technologies_cont, 'Technologies contains', 'data-icon' => 'm'%>
        <%= f.text_field :technologies_cont %>
      </div>

      <div class='text'>
        <%= f.label :description_cont, 'Description contains', 'data-icon' => 'm'%>
        <%= f.text_field :description_cont %>
      </div>

      <div class='radio'>
        <%= f.label :is_disabled_true, 'Is disabled' %>
        <%= f.check_box :is_disabled_true, 'data-group' => 'radio'%>
        <%= f.label :is_disabled_false, 'Is not disabled' %>
        <%= f.check_box :is_disabled_false, 'data-group' => 'radio' %>
      </div>

      <div class='text-date'>
        <table>
          <tr>
            <td>
              <%= f.label :created_at_gteq, 'Created at', 'data-icons' => '*' %>
              <%= f.text_field :created_at_gteq, placeholder:'Start Date', class:'b-date-picker' %>
            </td>
            <td>
              <%= f.label :created_at_lteq, 'Created at' %>
              <%= f.text_field :created_at_lteq, placeholder:'End Date', class:'b-date-picker' %>
            </td>
          </tr>
        </table>
      </div>

      <div class='button'>
        <%= f.submit 'Search' %>
      </div>

      <div class='button'>
        <input name="commit" type="button" value="Clear" class="e-clear-form">
      </div>

  <% end %>
</div>