<% # variables passed by the controller
   render_mode = @params[:render_mode]
   user_mode = @params[:user_mode]
   search_options = @params[:search_options]
%>

<% # defining the template title
    case render_mode
    when 'public'
      template_tile = 'Open assignments'
    when 'private'
      template_tile = 'Inbox'
    else
      template_tile = 'Assignments'
    end
%>

<h1 class='sub-title'><%= template_tile %></h1>

<%= link_to 'New Assignment',  new_assignment_path, remote:true, class:'default-btn' %>
<br />
<br />

<% unless user_mode == 'student' %>
<%= render partial: 'assignments/search_assignments', locals: { search_options: search_options}%>
<% end %>

<% if  @assignments.blank?  %>
     No data
<% else %>
    <div id='assignments-accordion'>
      <% @assignments.each do |assignment| %>
          <%= render partial: 'assignments/assignments_list',
                     locals: { params: { assignment: assignment,
                                         render_mode: render_mode,
                                         assignment_access: current_user.get_assignment_access } }%>
      <% end %>
    </div>
<% end %>

<% content_for :footer do %>
    <%= link_to 'Back to Gallery', webinars_path, remote: true %>
<% end %>