<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @assignment.subject %>
</p>

<p>
  <b>Technologies:</b>
  <%= @assignment.technologies %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Status:</b>
  <%= @assignment.status %>
</p>

<p>
  <b>Type:</b>
  <%= @assignment.type %>
</p>

<p>
  <b>Is disabled:</b>
  <%= @assignment.is_disabled %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
