<h1 class='sub-title'>Manage Security</h1>

<div class='b-search-container'>
  <%= search_form_for @search, url: search_security_users_manage_securities_path,
                      method: :post, remote: true do |f| %>

      <div class='text'>
        <%= f.label :email_cont, 'Email contains', 'data-icon' => 'm'%>
        <%= f.text_field :email_cont %>
      </div>

      <div class='radio'>
        <%= f.label :is_active_true, 'Is active' %>
        <%= f.check_box :is_active_true, 'data-group' => 'radio'%>
        <%= f.label :is_active_false, 'Is not active' %>
        <%= f.check_box :is_active_false, 'data-group' => 'radio' %>
      </div>

      <div class='text-date'>
        <table>
          <tr>
            <td>
              <%= f.label :registration_date_gteq, 'Registration', 'data-icons' => '*' %>
              <%= f.text_field :registration_date_gteq, placeholder:'Start Date', class:'b-date-picker' %>
            </td>
            <td>
              <%= f.label :registration_date_lteq, 'Registration' %>
              <%= f.text_field :registration_date_lteq, placeholder:'End Date', class:'b-date-picker' %>
            </td>
          </tr>
        </table>
      </div>

      <div class='text-date'>
        <table>
          <tr>
            <td>
              <%= f.label :last_log_in_date_gteq, 'Last log in', 'data-icons' => '*' %>
              <%= f.text_field :last_log_in_date_gteq, placeholder:'Start Date', class:'b-date-picker' %>
            </td>
            <td>
              <%= f.label :last_log_in_date_lteq, 'Registration' %>
              <%= f.text_field :last_log_in_date_lteq, placeholder:'End Date', class:'b-date-picker' %>
            </td>
          </tr>
        </table>
      </div>

      <div class='button'>
        <%= f.submit 'Search' %>
      </div>

      <div class='button'>
      <input name="commit" type="button" value="Clear" class="e-clear-form">
      </div>

  <% end %>
</div>

<div id='security-accordion'>

  <% @security_users.each do |security_user| %>

      <h3 id='security-users-role-header-<%= security_user.id	%>'>
        <%= security_user.email %>
        <%= security_user.security_users_detail.first_name %>
        <%= security_user.security_users_detail.last_name %>
      </h3>

      <div>

        <table>
          <tr>
            <td colspan='2'>
              <%= link_to 'Show', security_users_manage_security_path(security_user), remote:true %>
              <%= link_to 'Edit', edit_security_users_manage_security_path(security_user), remote:true %>
            </td>
          </tr>
          <% current_roles = security_user.get_security_user_roles_by_id(false) %>
          <% if current_roles.empty? %>
              <tr><td colspan='2'>No roles.</td></tr>
          <% else %>
              <% current_roles.each do |role| %>
                  <tr>
                    <td><%= role.role %> </td>
                    <td><%= role.description %> </td>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>

  <% end %>

</div>

<% content_for :footer do %>
    <%= link_to 'Back to Gallery', webinars_path, remote: true %>
<% end %>