<h1>Listing security_users_details</h1>

<table>
  <tr>
    <th>Faculty number</th>
    <th>Egn</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th>Gsm</th>
    <th>Skype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @security_users_details.each do |security_users_detail| %>
  <tr>
    <td><%= security_users_detail.faculty_number %></td>
    <td><%= security_users_detail.egn %></td>
    <td><%= security_users_detail.first_name %></td>
    <td><%= security_users_detail.last_name %></td>
    <td><%= security_users_detail.gender %></td>
    <td><%= security_users_detail.address %></td>
    <td><%= security_users_detail.city %></td>
    <td><%= security_users_detail.country %></td>
    <td><%= security_users_detail.gsm %></td>
    <td><%= security_users_detail.skype %></td>
    <td><%= link_to 'Show', security_users_detail %></td>
    <td><%= link_to 'Edit', edit_security_users_detail_path(security_users_detail) %></td>
    <td><%= link_to 'Destroy', security_users_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Security users detail', new_security_users_detail_path %>
