<p id="notice"><%= notice %></p>

<p>
  <b>Faculty number:</b>
  <%= @security_users_detail.faculty_number %>
</p>

<p>
  <b>Egn:</b>
  <%= @security_users_detail.egn %>
</p>

<p>
  <b>First name:</b>
  <%= @security_users_detail.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @security_users_detail.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @security_users_detail.gender %>
</p>

<p>
  <b>Address:</b>
  <%= @security_users_detail.address %>
</p>

<p>
  <b>City:</b>
  <%= @security_users_detail.city %>
</p>

<p>
  <b>Country:</b>
  <%= @security_users_detail.country %>
</p>

<p>
  <b>Gsm:</b>
  <%= @security_users_detail.gsm %>
</p>

<p>
  <b>Skype:</b>
  <%= @security_users_detail.skype %>
</p>


<%= link_to 'Edit', edit_security_users_detail_path(@security_users_detail) %> |
<%= link_to 'Back', security_users_details_path %>
