<h1 class='sub-title'>Security Users List</h1>

<div class='b-search-container'>
<%= search_form_for @search, url: search_security_users_path, method: :post, remote: true do |f| %>

    <div class='text'>
    <%= f.label :email_cont, 'Email contains', 'data-icon' => 'e' %>
    <%= f.text_field :email_cont %>
    </div>

    <div class='radio'>
    <%= f.label :is_active_true, 'Is active' %>
    <%= f.check_box :is_active_true, 'data-group' => 'radio'%>
    <%= f.label :is_active_false, 'Is not active' %>
    <%= f.check_box :is_active_false, 'data-group' => 'radio' %>
    </div>

    <div class='text-date'>
    <table>
    <tr>
      <td>
        <%= f.label :registration_date_gteq, 'Registration', 'data-icons' => 'e' %>
        <%= f.text_field :registration_date_gteq, placeholder:'Start Date', class:'b-date-picker' %>
      </td>
      <td>
        <%= f.label :registration_date_lteq, 'Registration' %>
        <%= f.text_field :registration_date_lteq, placeholder:'End Date', class:'b-date-picker' %>
      </td>
    </tr>
    </table>
    </div>

    <div class='text-date'>
    <table>
      <tr>
        <td>
          <%= f.label :last_log_in_date_gteq, 'Last log in', 'data-icons' => 'e' %>
          <%= f.text_field :last_log_in_date_gteq, placeholder:'Start Date', class:'b-date-picker' %>
        </td>
        <td>
          <%= f.label :last_log_in_date_lteq, 'Registration' %>
          <%= f.text_field :last_log_in_date_lteq, placeholder:'End Date', class:'b-date-picker' %>
        </td>
      </tr>
    </table>
    </div>

    <div class='button'>
    <%= f.submit 'Search' %>
    </div>

    <div class='button'>
      <input name="commit" type="reset" value="Clear">
    </div>

<% end %>
</div>

<div id='security-users-accordion'>

  <% @security_users.each do |security_user| %>

    <h3 id='security-users-header-<%= security_user.id	%>'><%= security_user.email %></h3>

    <div>
      <table>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= link_to 'Show', security_user, remote:true %>
            <%= link_to 'Details', security_users_detail_path(security_user.get_security_user_details), remote:true %>
            <%= link_to 'Change Password', edit_security_user_path(security_user), remote:true %>
            <%= link_to 'Destroy', security_user, method: :delete, data: { confirm: 'Are you sure?' }, remote:true %>
          </td>
        </tr>
        <tr><td>Registration</td><td><%= security_user.registration_date.to_formatted_s(:long_ordinal) %></td></tr>
        <tr><td>Last log in date</td><td><%= security_user.last_log_in_date.to_formatted_s(:long_ordinal) %></td></tr>
        <tr><td>Is active</td><td><%= security_user.is_active %></td></tr>
      </table>
    </div>

  <% end %>

</div>

<% content_for :footer do %>
   <%= link_to 'Back to Gallery', webinars_path, remote: true %>
<% end %>

