<h1 class='sub-title'>Security Users List</h1>

<%= simple_form_for :search, url: security_users_path, method: 'get' do |f| %>
    <%= f.input :search_name,
                label: 'Title',
                input_html: { value: params[:search] ? params[:search][:search_name]: nil,
                              data: {autocomplete_source: SecurityUser.order(:email).map(&:email)}} %>
    <%= f.button :submit, 'Search', :name => nil  %>
<% end %>


<div id='security-users-accordion'>

  <% @security_users.each do |security_user| %>

    <h3 id='security-users-header-<%= security_user.id	%>'><%= security_user.email %></h3>

    <div>
      <table>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= link_to 'Show', security_user, remote:true %>
            <%= link_to 'Details', security_users_detail_path(security_user.get_security_user_details), remote:true %>
            <%= link_to 'Change Password', edit_security_user_path(security_user), remote:true %>
            <%= link_to 'Destroy', security_user, method: :delete, data: { confirm: 'Are you sure?' }, remote:true %>
          </td>
        </tr>
        <tr><td>Registration</td><td><%= security_user.registration_date.to_formatted_s(:long_ordinal) %></td></tr>
        <tr><td>Last log in date</td><td><%= security_user.last_log_in_date.to_formatted_s(:long_ordinal) %></td></tr>
        <tr><td>Is active</td><td><%= security_user.is_active %></td></tr>
      </table>
    </div>

  <% end %>

</div>

<% content_for :footer do %>
   <%= link_to 'Back to Gallery', webinars_path, remote: true %>
<% end %>

