<h1 class='sub-title'>User Profile</h1>
<div id='security-user-profile'>
    <table>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= link_to 'Show', @security_user %>
          <%= link_to 'Details', security_users_detail_path(@security_user.get_security_user_details) %>
          <%= link_to 'Edit', edit_security_user_path(@security_user) %>
        </td>
      </tr>
      <tr><td>Email</td><td><%= @security_user.email %></td></tr>
      <tr><td>Registration</td><td><%= @security_user.registration_date.to_formatted_s(:long_ordinal) %></td></tr>
      <tr><td>Last log in date</td><td><%= @security_user.last_log_in_date.to_formatted_s(:long_ordinal) %></td></tr>
      <tr> <td>Is active</td><td><%= @security_user.is_active %></td></tr>
    </table>
</div>

<% content_for :footer do %>
    <%= link_to 'Back to Gallery', security_users_path, remote: true %>
<% end %>

